.calculator {
    width: 250px;
    height: 250px;
    border: 1px solid #000;
    background: antiquewhite;
    border-radius: 20px;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
}

.output {
    width: 100%;
    /*margin: 15px auto;*/
}

.operate-box {
    display: flex;
    margin-top: 20px;
}

.operator,
.numbers {
    flex: 1;
}

.numbers .output:first-child {
    margin-top: 10px;
    margin-bottom: 25px;
}

.operator-item {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    margin: 5px;
    border-radius: 50%;
    background: darkorange;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.AC-button,
.result-button {
    margin-top: 20px;
    display: inline-block;
    width: 80px;
    background: #3399ff;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

.result-button {
    margin-left: 20px;
}